<header class="cover-image">
  <div class="container">
    <nav>
      <ul class="navigation">
        <li><a class="font-small" href="">Inicio</a></li>
        <li><a class="font-small" href="">Proyectos</a></li>
        <li><a class="font-small" href="">Comunidad</a></li>
        <li><a class="font-small" href="">Sobre nosotros</a></li>
        <li><a class="font-small" href="http://haskellnautas.herokuapp.com" target="_blank">Slack</a></li>
      </ul>
    </nav>
  </div>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Haskellnautas OK</h1>
      <p>Haskellnautas OK es una comunidad hispanohablante de entusiastas de Haskell. Nuestro objetivo es difundir el conocimiento, organizar eventos y potenciar el uso de Haskell.</p>
    </div>
  </div>
</header>

<section class="container content">
  <h1>Últimas entradas</h1>
  <p>
    Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In id erat non orci commodo lobortis.  Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.  Praesent fermentum tempor tellus.  Nullam tempus.  Mauris ac felis vel velit tristique imperdiet.  Donec at pede.  Etiam vel neque nec dui dignissim bibendum.  Vivamus id enim.  Phasellus neque orci, porta a, aliquet quis, semper a, massa.  Phasellus purus.  Pellentesque tristique imperdiet tortor.  Nam euismod tellus id erat.
  </p>
</section>

<footer class="footer">
  <div>
    <nav class="container">
      <p>
        Sitio generado con <a href="">Hakyll</a>.<br>
        Código fuente en <a href="">Github</a>.<br>
        Todo el contenido es reutilizable bajo <a href="">CC BY-SA 3.0</a>.
      </p>
    </nav>
  </div>
</footer>

<script src="http://cdn.jsdelivr.net/walkway/0.0.7/walkway.min.js"></script>
<script>
  var svg = new Walkway({selector:'.cover-content svg',duration:'1000'});
  svg.draw();
</script>
